<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a href="{{{or (relativize site.homeUrl) (or site.url (or siteRootUrl siteRootPath))}}}">
        <!-- height: var(--bar-height) instead of 100% to work around Safari bug -->
        <img src="{{{uiRootPath}}}/img/Norsk-Logo-Dark-Background.svg" style="height: 3.5rem; padding: 6px 0px" alt="Norsk logo" />
      </a>
      <a class="navbar-item" href="{{{or (relativize site.homeUrl) (or site.url (or siteRootUrl siteRootPath))}}}">{{site.title}}</a>
      {{#if env.SITE_SEARCH_PROVIDER}}
      <div class="navbar-item search hide-for-print">
        <div id="search-field" class="field">
          <input id="search-input" type="text" placeholder="Search the docs" {{#if page.home}} autofocus{{/if}}>
        </div>
      </div>
      {{/if}}
    </div>
  </nav>
</header>
